.editButton {
    float: right;
}

.saveButton {
    float: right;
    margin-right: 7px;
}

.loadButton {
    float: right;
    margin-right: 7px;
}

.headerText {
    text-align: center;
    padding-top: 10px;
}

.backButton {
    float: left;
}

.header {
    padding-bottom: 30px;
}