.child {
    padding: 5px;
    margin: 5px;
    width: 250px;
}

.greatInput {
    width: 237px;
}

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.box {
    max-width: 300px;
}

.buttonsBox {
    max-width: 250px;
}