.block {
    font-size: 11px;
    display: inline-flex;
    border-top: 2px solid black;
}

.block:first-child {
    border-top: none;
}

.lesson {
    width: 100px;
}

.block button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.cell {
    display: inline-flex;
    flex-direction: column;
    min-width: 120px;
    min-height: 80px;
}

.scheduleTable {
    border: 2px solid black;
    font-size: 11px;
    border-collapse: collapse;
}

.scheduleTable td {
    border: 2px solid black;
    vertical-align: top;
}

.scheduleTable th {
    padding: 2px;
    border: 2px solid black;
    color: black;
}

select, input, button {
    color: black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}

.app {
    padding: 50px;
}

.appContent {
    margin: 10px;
}

.times {
    font-weight: bold;
}