.block {
    font-size: 11px;
    display: inline-flex;
    border-top: 3px solid saddlebrown;
}

.block:first-child {
    border-top: none;
}

.lesson {
    width: 100px;
}

.block button {
    width: 20px;
    height: 20px;
    border-radius: 15px;
}

.cell {
    display: inline-flex;
    flex-direction: column;
    min-width: 120px;
    min-height: 80px;
}

.scheduleTable {
    border: 3px solid saddlebrown;
    font-size: 11px;
}

.scheduleTable td {
    border: 3px solid saddlebrown;
    vertical-align: top;
}

.scheduleTable th {
    padding: 2px;
    border: 3px solid saddlebrown;
}

button {
    background: navajowhite;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.appContent {
    display: inline-grid;
}