.addLesson select {
    margin-bottom: 7px;
}

.addLesson input {
    margin-bottom: 7px;
}

.formButton:last-child{
    float: left;
    padding-right: 50px;
    margin-top: 10px;
}

.addLesson {
    max-width: 200px;
}